body{
    background: linear-gradient(.33turn, #EEEEEE, #FF3333);
    font-family: 'Arial', sans-serif;
    padding: 0;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
select{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}
input, button{
    padding: 10px;
    font-size: 20px;

}
#header{
    background: #000000;
    color: #8888FF;
    text-align: center;
    width:100%;
    padding: 10px 0px;
}
#flex-container{
    display: flex;
    width: 100%;
}
#main{
    flex: 6;
    overflow: auto;
}
#nav{
    background: linear-gradient(.25turn, #888888, #000000);
    font-size: 0;
}
#sidebar{
    background: linear-gradient(.75turn, #888888, #000000);
    flex: 1;
    padding: 10px;
    text-align: center;
    height: 100vh;
}
.nav-button{
    background:#AAAAFF;
    color: black;
    border: none;
    padding: 10px;
    font-size: 36px;
    cursor: pointer;
    height: 100%;

}
.nav-button:hover{
    background: radial-gradient(circle, #8888FF, #AAAAFF);
}
.selected{
    background: #8888FF;
    color: black;
}
table{
    border-collapse: collapse;
    width: 100%;
    background: #EEEEEE;
    padding: 10px;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;

}
th{
    background: #8888FF;
    color: white;
    padding: 10px;
}
td{
    padding: 10px;
    text-align: center;
    border: 1px solid #888888;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
tr:nth-child(even){
    background: #DDDDDD;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.team-select{
    background: #AAAAFF;
    color: black;
    border: 1px solid black;
    text-overflow: ellipsis;
    max-width: 150px;
    max-height: 100px;
}